@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkcyan;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-background {
  background-color: #111111;
}

.nav-link {
  color: white !important;
  font-family: "VCR_OSD_MONO_1.001";
}

.nav-link:hover {
  color: #dbdbdb !important;
  font-family: "VCR_OSD_MONO_1.001";
}

.navbar-brand {
  color: white !important;
  font-weight: bold;
  font-family: "VCR_OSD_MONO_1.001";
  font-size: 1.75rem !important;
  font-stretch: expanded;
}

.card {
  background-color: #191919 !important;
  color: white !important;
  font-family: "VCR_OSD_MONO_1.001";
}

.modal-content {
  font-family: "VCR_OSD_MONO_1.001";
  color: white;
  background-color: #191919 !important;
}

.btn-outline-light {
  margin: 8px;
}

.dropdown-menu {
  background-color: #191919 !important;
  color: white;
}

.dropdown-item:hover {
  background-color: white !important;
  color: black !important;
}

.dropdown-item {
  font-family: "VCR_OSD_MONO_1.001";
  color: white !important;
}

@font-face {
  font-family: "VCR_OSD_MONO_1.001";
  src: url("./assets/typewriter/VCR_OSD_MONO_1.001.ttf");
  src:
  url("./assets/typewriter/vcr_osd_mono_1.001-webfont.woff") format("woff"),
  url("./assets/typewriter/vcr_osd_mono_1.001-webfont.eot") format("eot"),
  url("./assets/typewriter/vcr_osd_mono_1.001-webfont.svg") format("svg");
  }